[submodule "juce ext modules/msgpack/msgpack"]
	
     path = juce ext modules/msgpack/msgpack
	
     url = https://github.com/msgpack/msgpack-c.git
[submodule "Linqpp"]
	path = juce ext modules/msgpack/msgpack

	url = https://github.com/sebrockm/Linqpp
